@{
    ViewData["Title"] = "openSTIG Tool Home";
}


<div class="row">
    <div class="col-md-4">
        <h2>Library</h2>
        <ul>
            <li>STIG #1</li>
            <li>STIG #2</li>
        </ul>
    </div>
    <div class="col-md-8">
        <p>Select your saved STIG from the left to view the information</p>
    </div>
</div>
