@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>I have been telling myself I would do this for a while. And the checklist files are just XML so why not! I hate the Java viewer for the STIGs.
    I hate it and that is a strong word yes. But I do. So stop complaining and do something! So I did. This is what I wanted to use
    for doing DoD STIGs which are required. Love them or hate them they are required. Get used to them and you write "higher quality" 
    code that is maintainable IMO.
</p>
<p>
    So what will it do in the end? Here are some ideas that I am working toward as I have time:
    <ul>
        <li>Open a STIG checklist and give metrics on Category 1, 2, and 3 for the status of Not a Finding, Open, N/A, or Not Reviewed</li>
        <li>Have a wizard to start where it asks you questions and lays out the best "N/A" and "Not a Finding" setup possible</li>
        <li>Have a way to group these damn V-ID's according to what makes sense!</li>
        <li>Have an easy way to manage these in a container that people can pull down and run with easily</li>
        <li>Tie into a larger tool that manages RBAC, users, multiple versions, multiple submissions, etc. (Git for STIGs)</li>
    </ul>
</p>
