@{
    ViewData["Title"] = "openSTIG Tool Home";
}

<div class="row">
    <div class="col-md-12 logo">
        <img src="/images/ost-logo.jpg" alt="openSTIG Tool" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>openSTIG Tool</h2>
        <ul>
            <li>Load up your checklist file</li>
            <li>Use a Wizard to generate your starting STIG Checklist</li>
            <li>Update your STIG checklist</li>
            <li>Reports and Metrics on your STIG Checklist</li>
            <li>Export select columns to MS Excel for viewing</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Load your Checklist File</h2>
        <p>Click the button to load your .ckl file and then click the "Load File" button to begin.</p>
        <input type=file id=chkFile /><br />
        <button>Load File</button>
    </div>
</div>
